Makefile
Makefile.in
.deps
.libs
*.l[ao]
*.o
*.log
*~
/config.status
/config.h
/configure
/compile
/INSTALL
/aclocal.m4
/config.guess
/config.h.in
/config.sub
/depcomp
/install-sh
/ltmain.sh
/missing
/libtool
/stamp-h1
/autom4te.cache/
/src/Makefile.in
/src/Makefile
/src/.deps/
/docs/html/
/docs/Dox.cfg
/src/Algorithms/ControlProcess/ControlProcess_SK.cc
/src/Algorithms/ControlProcess/ControlProcess_SK.h
/src/Algorithms/ControlProcess/controlprocess
/src/GUI/test
